{% extends 'employee/dashboard.html'%}

{% block content%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

<style>
    .month{
        border: 1px solid black !important;
        width: -webkit-fill-available  !important;
    }
    tr,td,th{
        border: 1px solid black;
    }
</style>
<div class="container">
    <div class="row">
    <h1><u>Add Salary Details</u></h1>
    <div class="col-md-9">
        <div>
        <form method="POST" enctype="multipart/form-data">
            <!-- csrf token -->
            {% csrf_token %}
    
            <!-- for getting form as paragraf
            {{form.as_p}} -->
    
            <table class="table">
                
                {{form.as_table}}
            </table>
            
            <!-- form submit button -->
            <input type="submit" value='Add Salary' class="btn btn-outline-info"/>
        </form>
    </div>
    <div class="row">
        <h3><u> Employee salary details </u></h3>
        <table id="example" class="table table table-responsive" style="width:100%">
            <thead>
                <th>Sno.</th>
                <th>Employee Name</th>
                <th>Basic</th>
                <th>HRA </th>

                <th>TA</th>
                <th>SA</th>
                <th>Total Salary</th>
                
            </thead>
            <tbody>
                {%for i in salary%}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.employee}}</td>
                        <td>{{i.basic}}</td>
                        <td>{{i.hra}}</td>
                        <td>{{i.ta}}</td>
                        <td>{{i.sa}}</td>
                        <td>{{i.totalsalary}}</td>
                    </tr>
                {%endfor%}
            </tbody>

        </table>

    </div>
    </div>
    <div class="col-md-3">
        {{cal|safe}}
    </div>
</div>
</div>


<script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
    
    </script>
{%endblock%}