{% extends 'employee/dashboard.html'%}

{% block content%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

<style>
    .month{
        border: 1px solid black !important;
        width: -webkit-fill-available  !important;
    }
    tr,td,th{
        border: 1px solid black;
    }
</style>
<div class="container">
    <div class="row">
    <h1><u>Attendance Section</u></h1>
    <div class="col-md-9">
        <table id="example" class="table table table-responsive" style="width:100%">
            <thead>
            <tr>
                <th>Date</th>
                <th>First Login</th>
                <th>Last Logout</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {%for i in final_data%}
            {%for key,value in i.items%}
            {%if tdm in key %}
            
            <tr class={{key}}>
                <td>{{key}}</td>
                {%if value.0 >= fixed_time%}
                
                <td class="text-black" style="background-color: red; font-weight: bold;">{{value.0|slice:":8" }}</td>
                
                    {%else%}
                <td class="text-black" style="background-color: yellowgreen; font-weight: bold;">{{value.0|slice:":8"}}</td>
                
                {%endif%}
                {%for j in final_logoutdata%}
                    {%for key1,value1 in j.items%}
                    {%if key in j%}
                    <td>{{value1|last|slice:":8"}}</td>
                            {%endif%}
                    {%endfor%}
                {%endfor%}
                {%if value.0 >= fixed_time%}
                
                
                <td class="status text-danger">Late</td>
                    {%else%}
                
                <td class="status text-success">On Time</td>
                {%endif%}
            </tr>
            {%endif%}
            {%endfor%}
            {%endfor%}
        </tbody>  
        </table>
      
    </div>
    <div class="col-md-3">
        <div class="row">{{cal|safe}}</div>
        <div class="row my-3">
            <h3><u>Summary:</u></h3>
            <h4 class="text-success">Today Total login : <span id="onlate">0</span></h4>
            <h4 class="text-danger">Late Count: <span id="onlate">0</span></h4>
        </div>
    </div>
</div>
</div>

<script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
    
    </script>

<script>
    //gets table
    var oTable = document.getElementById('example');

    //gets rows of table
    var rowLength = oTable.rows.length;
    var count=0
    //loops through rows    
    for (i = 0; i < rowLength; i++){

      //gets cells of current row  
       var oCells = oTable.rows.item(i).cells;

    //    //gets amount of cells of current row
    //    var cellLength = oCells.length;

    //    //loops through each cell in current row
    //    for(var j = 0; j < cellLength; j++){

    //           // get your cell info here

    //           var cellVal = oCells.item(j).innerHTML;
    //           alert(cellVal);
    //        }
        if(oCells[3].innerHTML=='LATE')
        {
            alert("TRUE");
        }
    }
</script>



{%endblock%}