{% extends 'employee/dashboard.html'%}

{% block content%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

<style>
    .month{
        border: 1px solid black !important;
        width: -webkit-fill-available  !important;
    }
    tr,td,th{
        border: 1px solid black;
    }
</style>
<div class="container">

    <div class="row">
        <h3><u> Employee Leave details </u></h3>
        <table id="example" class="table table table-responsive" style="width:100%">
            <thead>
                <th>Sno.</th>
                <th>Employee Name</th>
                <th>Reason</th>
                <th>From </th>
                <th>To </th>
                <th>Rejection reason </th>
                <th>Status</th>
                
            </thead>
            <tbody>
                {%for i in leaves%}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.employee}}</td>
                        <td>{{i.reason}}</td>
                        <td>{{i.fromdate}}</td>
                        <td>{{i.todate}}</td>
                        <td>{{i.rejectionreason}}</td>
                        {%if i.status == "Pending"%}
                        <td class="bg-warning">{{i.status}}</td>
                        {%elif i.status == "Rejected"%}
                        <td class="bg-danger">{{i.status}}</td>
                        {%else%}
                        <td class="bg-success">{{i.status}}</td>
                        {%endif%}
                    </tr>
                {%endfor%}
            </tbody>

        </table>

    </div>
    </div>
    <div class="col-md-3">
        {{cal|safe}}
    </div>
</div>
</div>


<script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
    
    </script>
{%endblock%}